.c-button--menu{
    display: inline-block;
    position: absolute;
    top:    20px;
    right:  10px;
    font-size: 0;
    font-weight: bold;
    @media (max-width: ($tab)){
        font-size: 1.4rem;
    };
};

.c_button--footer{
    padding: 0 5px;
};

.c-button--detail{
    width: 150px;
    color: #3C2B1C;
    background-color:  #fff;
    border-radius: 18px;
    line-height: 36px;
};

.c-button--single{
    margin: 30px;
    width: 300px;
    color: #3C2A10;
    background-color:  #F2EDE9;
    border: 1px solid #707070;
    border-radius: 5px;
    line-height: 50px;
};