.c-form--header{
    margin-right: 5em;
    margin-top: calc(var(--header-height)/2 - var(--search-height)/2);
    @media (max-width: ($tab)){
        margin: 20px;
    };
    &_search{
        border: 1px solid #707070;
        border-radius: 5px;
        height: var(--search-height);
        padding: 0 10px;
        background-color: #fff;
        font-size: 1rem;
        &::placeholder{
            font-family: FontAwesome;
        };
    };

    &_button{
        border: 1px solid #707070;
        border-radius: 5px;
        width: 100px;
        height: var(--search-height);
        background-color: #f2ede9;
        color: #707070;
        font-size: 1rem;
        text-align: center;
        &:hover{
            color: #999999;
            font-weight: bold;
        };
    };
};
