.c-title--header{
    margin-left: 3rem;
    display: inline-block;
    font-family: 'Roboto';
    line-height: var(--header-height);
    font-size: 1.7rem;
    font-weight: 900;
    color: #707070;
    @media (max-width: ($tab)){
        margin: 20px;
        line-height: 30px;
    };
};

.c-title--main{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 3rem;
    & small{
        font-size: 0.8rem;
        margin: 10px;
    }
};

.c-title--article{
    font-family: robot;
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 30px 20px;
    position:relative;
    display: inline-block;
    &::before{
        content:"";
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: #fff;
    };
    &_comment{
        background-color: rgba(255,255,255,0.8);
        margin: 10px;
        & dt{
            font-size: 0.8rem;
            margin: 10px;
        };
        & dd{  
            font-size: 0.6rem;
            margin: 10px;
        };
    };      
};

.c-title--access{
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: color-dodge;
    opacity: 0.7;
    & h2{
        margin: 50px;
        font-size: 1rem;
        position:relative;
        display: inline-block;
        &::before{
            content:"";
            position: absolute;
            bottom: -40px;
            display: inline-block;
            width: 50px;
            height: 2px;
            background-color: #fff;
        };
    };
    & p{
        margin: 0 50px ;
        font-size: 0.6rem;
    };
};

.c-title--menu{
    font-size:      1.4rem;
    font-weight:    bold;
    margin: 10px 20px;
    @media (max-width: ($tab)){
        font-size: 0rem;
    };
};

.c-title--footer{
    padding-top: 15px;
    font-size: 0.8rem;
};

.c-title--footerl{
    padding: 0 5px;
    position:relative;
    &::before{
        content:"";
        position: absolute;
        right: 0px;
        top: 5px;
        display: inline-block;
        width: 1px;
        height: 10px;
        background-color: #fff;
    };
};

.c-title--footerr{
    padding: 0 5px;
};

.c-title--copyright{
    font-size: 0.8rem;
    line-height: 40px;
};

.c-title--archive{
    font-family: robot;
    color: #fff;
    font-weight: bold;
    font-size: 1.0rem;
    margin: 10px 0px;
    position:relative;
    display: inline-block;
    &_discription{
        color: #707070;
        margin:30px 70px;
        & dt{
            font-size: 1.2rem;
            margin: 10px 0;
        };
        & dd{  
            font-size: 1.0rem;
        };
    };
    &_comment{
        color: #fff;
        margin: 0 30px;
        & dt{
            font-size: 0.8rem;
        };
        & dd{  
            font-size: 0.6rem;
        };
    };        
};

.c-title--detail{
    text-align: center;
    font-size: 0.8rem;
};

.c-title--single_discription{
    margin: 30px;
    & h2{font-size: 1.2rem; margin: 30px 0;};
    & p{font-size: 1.0rem; margin: 30px 0;};
    & h3{font-size: 1.0rem; margin: 30px 0;};
    & h4{font-size: 0.8rem; margin: 30px 0;};
};

.c-title--single_comment{
    font-size: 0.6rem;
}

.c-title--singlequote{
    font-size: 0.4rem;
    padding: 30px;
    & a{
        color: #4A6C9B;
        border-bottom: 1px solid #4A6C9B;
    };
};

.c-title--singlelist1{
    font-size: 0.8rem;
    margin-left: 30px;
}

.c-title--singlelist2{
    font-size: 0.8rem;
    margin-left: 50px;
}

.c-title--singlebold{
    font-size: 0.4rem;
    margin: 0 30px 100px;
}