.wp-pagenavi {
    margin: 20px 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-pagenavi a {
    color: #707070;

}
.pages {
    margin-right: 20px;
    &::before{
        content: 'Page'
    };
}
.wp-pagenavi .current,
.wp-pagenavi a.page {
    margin: 3px;
    display: inline-block;
    border: 1px solid #3C2B1C;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.wp-pagenavi .current {
    border: none;
    background: #3C2B1C;
    color: #fff;
}
.wp-pagenavi a.page:hover {
    background: #3C2B1C;
    color: #fff;
}
.wp-pagenavi .first,
.wp-pagenavi .extend {
    margin-right: 10px;
}
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
    font-size: 2rem;
    margin: 10px;
}
